#
# Directories
#

_ngo
_xmsgs
cpj
xst
isim
wcfg
xlnx_auto_0_xdb

#
# Files that are built during synthesis
#

esm_ks10.bgn
esm_ks10.bit
esm_ks10.bld
esm_ks10.cfi
esm_ks10.drc
esm_ks10.filter
esm_ks10.lso
esm_ks10.log
esm_ks10.mcs
esm_ks10.ncd
esm_ks10.ngc
esm_ks10.ngd
esm_ks10.ngr
esm_ks10.map
esm_ks10.pad
esm_ks10.par
esm_ks10.pcf
esm_ks10.prj
esm_ks10.prm
esm_ks10.ptwx
esm_ks10.syr
esm_ks10.unroutes
esm_ks10.xpi
esm_ks10.xst
esm_ks10_map.map
esm_ks10_map.mrp
esm_ks10_map.ncd
esm_ks10_map.ngm
esm_ks10_map.xrpt
esm_ks10_pad.csv
esm_ks10_pad.txt
esm_ks10_bitgen.xwbt
esm_ks10.ngc_xst.xrpt
esm_ks10_ngdbuild.xrpt
esm_ks10_summary.xml
esm_ks10_impact.cmd
esm_ks10_usage.xml
esm_ks10_par.xrpt

_impactbatch.log
par_usage_statistics.html
usage_statistics_webtalk.html
webtalk.log

#
# Simulation Files
#

esm_ks10_isim.cmd
esm_ks10_isim.exe
esm_ks10_isim.prj
fuse.log
isim.log
fuse.xmsgs
fuseRelaunch.cmd

#
# Debug outputs
#

cty_out.txt
rhstatus.txt
