#
# Directories
#
fpga/esm_top/ise/xst
fpga/esm_top/ise/_ngo
fpga/esm_top/ise/isim/
fpga/esm_top/ise/_xmsgs
fpga/esm_top/ise/xlnx_auto_0_xdb

#
# Files that are built during synthesis
#

fpga/esm_top/ise/esm_ks10.bgn
fpga/esm_top/ise/esm_ks10.bit
fpga/esm_top/ise/esm_ks10.bld
fpga/esm_top/ise/esm_ks10.cfi
fpga/esm_top/ise/esm_ks10.drc
fpga/esm_top/ise/esm_ks10.filter
fpga/esm_top/ise/esm_ks10.lso
fpga/esm_top/ise/esm_ks10.log
fpga/esm_top/ise/esm_ks10.mcs
fpga/esm_top/ise/esm_ks10.ncd
fpga/esm_top/ise/esm_ks10.ngc
fpga/esm_top/ise/esm_ks10.ngd
fpga/esm_top/ise/esm_ks10.ngr
fpga/esm_top/ise/esm_ks10.map
fpga/esm_top/ise/esm_ks10.pad
fpga/esm_top/ise/esm_ks10.par
fpga/esm_top/ise/esm_ks10.pcf
fpga/esm_top/ise/esm_ks10.prj
fpga/esm_top/ise/esm_ks10.prm
fpga/esm_top/ise/esm_ks10.ptwx
fpga/esm_top/ise/esm_ks10.syr
fpga/esm_top/ise/esm_ks10.unroutes
fpga/esm_top/ise/esm_ks10.xpi
fpga/esm_top/ise/esm_ks10.xst
fpga/esm_top/ise/esm_ks10_map.map
fpga/esm_top/ise/esm_ks10_map.mrp
fpga/esm_top/ise/esm_ks10_map.ncd
fpga/esm_top/ise/esm_ks10_map.ngm
fpga/esm_top/ise/esm_ks10_map.xrpt
fpga/esm_top/ise/esm_ks10_pad.csv
fpga/esm_top/ise/esm_ks10_pad.txt
fpga/esm_top/ise/esm_ks10_bitgen.xwbt
fpga/esm_top/ise/esm_ks10.ngc_xst.xrpt
fpga/esm_top/ise/esm_ks10_ngdbuild.xrpt
fpga/esm_top/ise/esm_ks10_par.xrpt
fpga/esm_top/ise/par_usage_statistics.html
fpga/esm_top/ise/usage_statistics_webtalk.html
fpga/esm_top/ise/esm_ks10_summary.xml
fpga/esm_top/ise/esm_ks10_usage.xml
fpga/esm_top/ise/webtalk.log
fpga/esm_top/ise/_impactbatch.log
fpga/esm_top/ise/esm_ks10_impact.cmd

#
# Simulation Files
#

fpga/esm_top/ise/esm_ks10_isim.cmd
fpga/esm_top/ise/esm_ks10_isim.exe
fpga/esm_top/ise/esm_ks10_isim.prj
fpga/esm_top/ise/fuse.log
fpga/esm_top/ise/fuse.xmsgs
fpga/esm_top/ise/fuseRelaunch.cmd
